/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-app-fluid {
    padding: 10px
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* Column Gap */

.cardList>* {
    box-sizing: border-box;
}

.cardList>*:not(:last-child) {
    margin-right: 32px;
}


/* Item sizing */

.cardListItem {
    flex: 0 1 calc(33.3% - 32px);
}